@model WebPacs.Models.Study

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Study</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyPartExamined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyPartExamined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogonDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogonDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registrar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPhysiciansReadingStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPhysiciansReadingStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportPrintStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportPrintStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmPrintStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmPrintStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportPrintDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportPrintDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmPrintDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmPrintDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
